<div>
  <app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
  <mat-tab-group>
    <mat-tab label="Do zrobienia"> 
      <app-todo-item 
      *ngFor="let todo of todosUndone" 
      [todo]="todo"
      (deleteTodo)="deleteTodo($event)"
      (changeTodo)="changeTodo()"
      >
      </app-todo-item>
    </mat-tab>
    <mat-tab label="Zrobione"> 
      <app-todo-item 
      *ngFor="let todo of todosDone" 
      [todo]="todo"
      (deleteTodo)="deleteTodo($event)"
      (changeTodo)="changeTodo()"
      >
      </app-todo-item>
    </mat-tab>
    <mat-tab label="Wszystkie"> 
      <app-todo-item 
      *ngFor="let todo of todosDoneAndUndone" 
      [todo]="todo"
      (deleteTodo)="deleteTodo($event)"
      (changeTodo)="changeTodo()"
      >
      </app-todo-item>
    </mat-tab>
    <mat-tab label="Usunięte"> 
      <app-todo-item 
      *ngFor="let todo of todosDeleted" 
      [todo]="todo"
      (deleteTodo)="deleteTodo($event)"
      (changeTodo)="changeTodo()"
      >
      </app-todo-item>
    </mat-tab>
  </mat-tab-group>
</div>
